# Data cleaning in Python with pandas

##  Setup

With this Google Colaboratory (Colab) notebook open, click the "Copy to Drive" button that appears in the menu bar. The notebook will then be attached to your own Google user account, so you can edit it in any way you like -- you can even take notes directly in the notebook.

## Agenda

1. **Guided instruction**: An instructor will work through the guided activity and teach concepts along the way.

2. **Collaborative exercises**: After the guided portion of the workshop, we will have time to work collaboratively on provided exercises, ask questions, and discuss any concepts relevant to the materials. (Exercises can also be completed outside of the meeting time. A link to the filled version of this notebook containing all of the completed code is available at the end of the notebook under the section *Further resources* for reference)

## Learning objectives

By the end of our workshop today, we hope you'll understand what the pandas library is and be able to use pandas to load, explore, and manipulate data.

### Today's Topics

- Reading and writing data files

- Exploring dataset characteristics

- Manipulating a dataset (adding/removing/editing data)

- Filtering a dataset

### Using Jupyter Notebooks and Google Colaboratory

Jupyter notebooks are a way to write and run Python code in an interactive way. They're quickly becoming a standard way of putting together data, code, and written explanations or visualizations into a single document and sharing that. There are a lot of ways that you can run Jupyter notebooks, including just locally on your computer, but we've decided to use Google's Colaboratory notebook platform for this workshop.  Colaboratory is “a Google research project created to help disseminate machine learning education and research.”  If you would like to know more about Colaboratory in general, you can visit the [Welcome Notebook](https://colab.research.google.com/notebooks/welcome.ipynb).

Using the Google Colaboratory platform allows us to focus on learning and writing Python in the workshop rather than on setting up Python, which can sometimes take a bit of extra work depending on platforms, operating systems, and other installed applications. If you'd like to install a Python distribution locally, though, we're happy to help. Feel free to [get help from our graduate consultants](https://www.lib.ncsu.edu/dxl) or [schedule an appointment with Libraries staff](https://go.ncsu.edu/dvs-request).

## Guided Instruction

**Content Warning:** This dataset contains information relating to violence towards animals. We understand that this may be distressing, and if you need to step away from the workshop we understand.

In this section, we will work through examples using data from the [Federal Aviation Administration (FAA) Wildlife Strikes Database](https://wildlife.faa.gov/search). We have filtered the data to only include North Carolina.

> "The FAA Wildlife Strike Database contains records of reported wildlife strikes since 1990. Strike reporting is voluntary. Therefore, this database only represents the information we have received from airlines, airports, pilots, and other sources." - [FAA website](https://wildlife.faa.gov/home)

In [ ]:
# Import the Pandas library as pd (callable in our code as pd)

### Importing datasets

We have prepared the data from the FAA website for this workshop. We will import those datasets into our notebook to use them for data analysis.

- [Preview the CSV file (opens on GitHub)](https://github.com/NCSU-Libraries/data-viz-workshops/blob/master/Python_Open_Labs/data/FAA_Wildlife_strikes_1990-1999.csv) - wildlife strike data from the years 1990-1999
-[Preview the Excel file (this link will download the file)](https://github.com/NCSU-Libraries/data-viz-workshops/blob/master/Python_Open_Labs/data/FAA_Wildlife_strikes_2000-2009.xlsx?raw=true) - wildlife strike data from the years 2000-2009
- [Preview the JSON file (opens on GitHub)](https://raw.githubusercontent.com/NCSU-Libraries/data-viz-workshops/master/Python_Open_Labs/data/FAA_Wildlife_strikes_2010-2019.json) - wildlife strike data from the years 2010-2019

In [ ]:
# Import the CSV file (wildlife strike data from the years 1990-1999)
csv_file_url = 'https://raw.githubusercontent.com/NCSU-Libraries/data-viz-workshops/master/Python_Open_Labs/data/FAA_Wildlife_strikes_1990-1999.csv'


# Print out the first five columns of the dataset

In [ ]:
# Import the Excel file (wildlife strike data from the years 2000-2009)
xls_file_url = 'https://github.com/NCSU-Libraries/data-viz-workshops/blob/master/Python_Open_Labs/data/FAA_Wildlife_strikes_2000-2009.xlsx?raw=true'


# Print out the first five columns of the dataset

In [ ]:
#Import the JSON file (wildlife strike data from the years 2010-2019)
json_file_url = 'https://raw.githubusercontent.com/NCSU-Libraries/data-viz-workshops/master/Python_Open_Labs/data/FAA_Wildlife_strikes_2010-2019.json'


# Print out the first five columns of the dataset

### Reset DataFrame index labels
The JSON file we imported does not include the column `INDX_NR`. Instead, these values are used as the index labels. We want this dataset to match the format of our other datasets, so we first need to reset the index using the DataFrame method `reset_index()`.

In [ ]:
# Reset the JSON DataFrame index and rename the column


# Print out the first five columns of the dataset

### Renaming column labels

When we reset our index a new column `index` was created. Let's change the name of this column to `INDX_NR` to match our other datasets using the DataFrame `rename()` method.

In [ ]:
# Rename the column we created


# Print out the first five columns of the dataset

### Concatenate the three DataFrames

We want to be able to work with all of the data we have imported at once, so we need to pull all three DataFrames into one. They all have the same columns now, so we can concatenate them based on columns (similar to adding them together, one on top of another) using the pandas method `concat()`. We also need to consider the current index labels for each dataset. We will create a new zero-based integer index label for the concatenated dataset by passing the keyword argument `ignore_index=True` into the `concat()` method.

In [ ]:
# Concatenate all the datasets into one


# Print the shape (number of rows and columns) of the full DataFrame

### Merge DataFrames

Our dataset includes a column of species IDs (`SPECIES_ID`) that consist of alpha-numeric codes that reference a specific species of animal. This code is not very helpful if we want to know the species name of an animal involved in a strike. Let's join our dataset with another dataset containing unique species IDs and species names using the shared column `SPECIES_ID` to generate a new column of data (`SPECIES`) containing species name using `merge()`. The URL to the dataset of species IDs and names is stored in the variable `species_names_file_url`.

In [ ]:
# Load the species ID table (stored in a CSV file)
species_names_file_url = 'https://raw.githubusercontent.com/NCSU-Libraries/data-viz-workshops/master/Python_Open_Labs/data/FAA_Wildlife_species_id_table.csv'


# Print the loaded species ID table

![Left join visual example](https://github.com/NCSU-Libraries/data-viz-workshops/blob/master/Python_Open_Labs/Data_wrangling_with_Pandas/left-join.png?raw=true)

In [ ]:
# Create a new DataFrame from a "left" join of the full dataset and the species
# ID table based on the shared column "SPECIES_ID"


# Print out the columns "SPECIES" and "SPECIES_ID" from the new merged dataset

### Removing unnecessary columns

We can reduce the size of our dataset by removing unnecessary columns of data using the DataFrame `drop()` method.

In [ ]:
# Remove the "STATE", "FAAREGION", and "COMMENT" columns using "drop()""


# Print out the first five records of the DataFrame

### Calculating new columns

#### Create a new column using an expression

We may want to add a new column that is calculated based on other columns. In this example, we create a new column (`SINGLE_OR_MULTI_ENGINE`) of boolean values that tells us if the plane was a single-engine (TRUE) or a multi-engine (FALSE) plane using a comparison operator to test if the value in the column `NUM_ENGS` equals 1.

In [ ]:
# Create a new column of boolean values indicating single- or multi-engine


# Print out the new column

#### Create a new column using `apply()`

Sometimes you need to create a new column based on more complex manipulation of existing data. In this example, we use the `apply()` method to apply the function `calc_hour` along the rows in the column `TIME`. The `calc_hour` function parses an integer value of the hour from a string containing the time at which a strike occurred. We create a new column `HOUR` that contains a numerical representation of the hour in which a strike occurred.

In [ ]:
# Define a function that takes a time string in the form "HH:MM" and returns the
# hour as an integer if the hour value is valid
def calc_hour(time_str):
    hour = time_str.split(':')[0]
    if hour.strip(' ') != '':
        return int(hour)

# Use the DataFrame apply() method to call calc_hour on the "TIME" column and
# create a new column "HOUR" in our DataFrame


# Print out the "TIME" and "HOUR" columns from our DataFrame

### Replace values in a column

We can replace values in a column based on conditions, similar to "find and replace." In this example, we make our new `SINGLE_OR_MULTI_ENGINE` column more descriptive by changing `True` into " Single engine" and `False` into "Multi engine".

In [ ]:
# Replace True or False values with new strings, "Single engine" or "Multi engine"


# Print out the updated column of data

### Filtering

We can filter our data using conditional statements. This can help us remove unecessary rows of data or observe a specific range of data.

In [ ]:
# Filter the data to only see incidents that happened at night


# Print out the filtered data

In [ ]:
# Filter the data to only see data from 2010 and after


# Print out the filtered data

In [ ]:
# Filter the data to only see incidents from 2010 and after that happened at night


# Print out the filtered data



---


## Open work time
You can use this time to ask questions, collaborate, or work on the following activities (on your own or in a group)

### Exercise 1: Rename column headers

Rename the column `REG` to the more descriptive `AIRCRAFT_REGISTRATION`

In [ ]:
# Change the column name "REG" to "AIRCRAFT_REGISTRATION"


# Print out the new DataFrame columns

### Exercise 2: Remove unnecessary columns

The are several columns of data that are not relevant for our analyses. Remove all columns related to engine and damage location (e.g., all the columns that begin with `ENG_`, `DAM_`, and `STR_`). A list of these column names is provided in the variable `drop_columns`.

**Bonus:** See if you can derive the column names in the list `drop_columns` from the dataset

In [ ]:
# A list of column names to remove from the DataFrame
drop_columns = ['ENG_1_POS', 'ENG_2_POS', 'ENG_3_POS', 'ENG_4_POS', 'STR_RAD',
                'DAM_RAD', 'STR_WINDSHLD', 'DAM_WINDSHLD', 'STR_NOSE',
                'DAM_NOSE', 'STR_ENG1', 'DAM_ENG1', 'STR_ENG2', 'DAM_ENG2',
                'STR_ENG3', 'DAM_ENG3', 'STR_ENG4', 'DAM_ENG4', 'STR_PROP',
                'DAM_PROP', 'STR_WING_ROT', 'DAM_WING_ROT', 'STR_FUSE',
                'DAM_FUSE', 'STR_LG', 'DAM_LG', 'STR_TAIL', 'DAM_TAIL',
                'STR_LGHTS', 'DAM_LGHTS', 'STR_OTHER', 'DAM_OTHER']

# Remove unnecessary columns


# Print out the new DataFrame columns

### Exercise 3: Filter out unnecessary rows

Our dataset should only contain data from the years 1990-2019. Remove any rows of data that contain strikes that occurred outside of this year range.

In [ ]:
# Filter out rows of data that contain strikes that occurred outside of the year
# range 1990-2019


# Print out the new filtered DataFrame

### Exercise 4: Join airline operator names with the full dataset

Our dataset contains a column of airline operator IDs (`OPID`). These IDs correspond with airline operator names (e.g., Delta Airlines, Military, United Airlines, etc.). We have another dataset that contains arline operator IDs (in a column named `OPID`) and the corresponding airline operator name (in a column named `OPERATOR`). The URL to this dataset is stored in the variable `op_name_file_url`. Load this dataset and use a left join to merge the operator name with the full dataset.

In [ ]:
# URL to the CSV file containing unique airline operator IDs and names
op_name_file_url = 'https://github.com/NCSU-Libraries/data-viz-workshops/blob/master/Python_Open_Labs/data/FAA_Wildlife_operator_id_table.csv?raw=true'

# Load the operator ID and name dataset into a DataFrame


# Join airline operator names to the full dataset using matching operater IDs


# Print out the columns "OPID" and "OPERATOR" from the new merged DataFrame

### Exercise 5: Create a new column containing month names

Our dataset currently contains a column of integer values representing the month number in which a strike occurred (1-12). It would be helpful to have a column containing the month name (e.g., January, February, etc.). Calculate a new column labeled `MONTH_NAME` containing the month name in which a stike occurred.

**TIP:** There are multiple ways you could consider creating this new column (e.g., using `replace()` or `apply()`), but it might be helpful to have a way to map month numbers (1-12) to month names (January - December) (e.g., a list or dictionary).

In [ ]:
# Create a new column "MONTH_NAME" containing month names in which a strike occurred

## Further resources

### Filled version of this notebook

[Python Open Labs Week 2 filled notebook](https://colab.research.google.com/github/NCSU-Libraries/data-viz-workshops/blob/master/Python_Open_Labs/Data_wrangling_with_Pandas/Python_Open_Labs_Week2_filled.ipynb) - a version of this notebook with all code filled in for the guided activity and exercises.

### Learning resources

- [Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/index.html) - a free, online version of Jake VanderPlas' introduction to data science with Python, includes a chapter on data manipulation with pandas.
- [Python Programming for Data Science](https://www.tomasbeuzen.com/python-programming-for-data-science/README.html) - a website providing a great overview of conducting data science with Python including pandas.

### Finding help with pandas

The [Pandas website](https://pandas.pydata.org/) and [online documentation](http://pandas.pydata.org/pandas-docs/stable/) are useful resources, and of course the indispensible [Stack Overflow has a "pandas" tag](https://stackoverflow.com/questions/tagged/pandas).  There is also a (much younger, much smaller) [sister site dedicated to Data Science questions that has a "pandas" tag](https://datascience.stackexchange.com/questions/tagged/pandas) too.

## Evaluation Survey
Please, spend 1 minute answering these questions that help improve future workshops.

https://go.ncsu.edu/dvs-eval

## Credits

This workshop was created by Walt Gurley and Claire Cahoon, adapted from previous workshop materials by Scott Bailey and Simon Wiles, of Stanford Libraries.